[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ehsan-karamad
[access "refs/for/refs/*"]
	read = group user/ehsan-karamad
	push = group user/ehsan-karamad
	label-Code-Review = -2..+2 group user/ehsan-karamad
	label-Verified = -1..+1 group user/ehsan-karamad
	rebase = group user/ehsan-karamad
	removeReviewer = group user/ehsan-karamad
	submit = group user/ehsan-karamad
[access "refs/heads/*"]
	read = group user/ehsan-karamad
	create = group user/ehsan-karamad
	push = +force group user/ehsan-karamad
	pushMerge = group user/ehsan-karamad
[access "refs/tags/*"]
	push = +force group user/ehsan-karamad
	pushTag = group user/ehsan-karamad
	pushSignedTag = group user/ehsan-karamad
